:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primery-white-color: #e5e5e5;
  --secondary-white-color: #ffffff;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primery-white-color);
  font-family: roboto, sans-serif;
}

.list {
  list-style: none;
  text-decoration: none;
}

.font-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* gery #F5F4FA */
/* font family Raleway, sans-serif */

/*Шапка страницы*/
.header {
  background-color: var(--secondary-white-color);
}

/* logo */
.logo {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
}

/* Главная навигация */
.site-nav .list {
  color: var(--primary-text-color);
}
.site-contact .list {
  color: var(--secondary-text-color);
}
