:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-white-color: #e5e5e5;
  --secondary-white-color: #ffffff;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primery-white-color);
  font-family: roboto, sans-serif;
}

.list {
  list-style: none;
}

/* gery #F5F4FA */

/* site nav */
